:root{
    --mainColor :  rgb(40, 40, 87); 
    --compColor : rgb(40, 40, 87); 
    --monoAdd1Color :  rgb(40, 40, 87); 
    --monoAdd2Color :  rgb(40, 40, 87); 
    --neutral1Color :  rgb(40, 40, 87); 
    --neutral2Color :  rgb(40, 40, 87); 
    --triadicColor :  rgb(40, 40, 87); 
}


body{
    display : grid ;
    grid-template-columns: repeat(2,35dvw);
    grid-template-rows:repeat(9,auto) ;
    grid-template-areas : 
    "header header "
    "mainColorInput mainColorInput"
    "mainColorInput mainColorInput"
    "mainColorSetRGB mainColorSetRGB"
    "mainColorSetRGB mainColorSetRGB"
    "compColor monoColor"
    "compColor monoColor"
    "neutralColor triadColor"
    "neutralColor triadColor"
    ;

    background-color: var(--mainColor) ;
    color :var(--neutral1Color)
}

h1{
    color :var(--triadicColor);
    text-align: center;
    grid-area: header ;
    font-size: xx-large;
}
/* 
#compColor{
    color: hsl(56,51%,11%)
} */

#mainColorInputWrapper{
grid-area:mainColorInput ;
}
#mainColorRGBSetWrapper{
    grid-area:mainColorSetRGB;
}
#compColorWrapper{
    grid-area:compColor;
}
#monoColorWrapper{
    grid-area:monoColor;
}
#neutralColorWrapper{

    grid-area:neutralColor;
}
#triadColorWrapper{
    grid-area:triadColor;
}

.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border :2px white solid ;
    border-radius: 5px;
}
