/* :root{
    --mainColorValue : 1 ;
} */

body{
    display : grid ;
    grid-template-areas : 
    "header header "
    "mainColorInput mainColorInput"
    "mainColorInput mainColorInput"
    "mainColorSetRGB mainColorSetRGB"
    "mainColorSetRGB mainColorSetRGB"
    "compColor monoColor"
    "compColor monoColor"
    "neutralColor triadColor"
    "neutralColor triadColor"
    ;
    grid-template-columns: repeat(2,50dvw);
    grid-template-rows:repeat(9,auto) ;
    background-color: rgb(40, 40, 87);
    color : hsla(30, 100%, 50%, 0.933)
}

h1{
    color :rgb(211, 166, 16) ;
    text-align: center;
    grid-area: header ;
}

/* 
CSS du colorpicker
input[type="color" i] {
    appearance: auto;
    width:auto;
    height: 27px;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: buttontext;
    border-width: 1px;
    border-style: solid;
    border-color: buttonborder;
    border-image: initial;
    padding: 1px 2px; 
} */

.colorDiv {
    appearance: auto;
    width: 50px;
    height: 27px;
    cursor: default;
    box-sizing: border-box;
    background-color: red;
    color: green;
    border-width: 1px;
    border-style: solid;
    border-color: buttonborder;
    border-image: initial;
    padding: 1px 2px;
}

#compColor{
    color: hsl(56,51%,11%)
}
/* 
#bigWrapper{    display: grid;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;  
}
*/
/* 
#mainColorWrapper{

    /* display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;  
} */
*/

/*
#resultsWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}  */

#mainColorInputWrapper{
grid-area:mainColorInput ;
}
#mainColorRGBSetWrapper{
    grid-area:mainColorSetRGB;
}
#compColorWrapper{
    grid-area:compColor;
}
#monoColorWrapper{
    grid-area:monoColor;
}
#neutralColorWrapper{

    grid-area:neutralColor;
}
#triadColorWrapper{
    grid-area:triadColor;
}

.wrapper{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    border :2px white solid ;
    border-radius: 5px;
}

